html:root {
	--main-text-color-black: #000000;
	--main-text-color-white: #ffffff;
	--main-btn-color-black: #000000;
	--main-btn-color-white: #ffffff;
	--hover-text-yellow: #ffe500;
	--hover-btn-yellow: #ffe600;
	--form-field-placeholder-color: #858585;
}
